@{
    ViewBag.Title = "关于我们-百家衣(www.360baijiayi.com)";
    ViewBag.Description = "百家衣(www.360baijiayi.com)是一个专注婴儿闲置衣物买卖的网站，在这里妈妈们可以在线买卖宝宝闲置的衣服、玩具。“百家衣”是婴儿服的一种，由一百个家庭收集到布片做成，故名“百家衣”";
    ViewBag.KeyWords = "百家衣,买卖,旧衣服,二手,二手衣服,闲置,宝宝,婴儿,儿童,孩子,衣服,小孩衣服,婴儿衣服,寄售,玩具,同城置换,同城交易,四川二手,成都二手衣服";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ResourceHelper.RegisterCss(this, "babybook.css");
}
@model IList<BabyPlan.mvcApp.ViewModel.BookModel>
           
@Html.Partial("_Header_Partial")
<div class="mainblock">
	<div class="bookShow clearfix">
    	<ul class="clearfix">
          
             <li><p class="bookTop"><img src="images/baby_s.jpg" alt=""/></p></li>
             <li><p class="bookTop"><img src="images/young_s.jpg" alt=""/></p></li>
             <li><p class="bookTop"><img src="images/old_s.jpg" alt=""/></p></li>
            
        </ul>
    </div>
   <a href="@Url.Action("AddBook", "Babybook")" class="button-blue makeBook font-size28 button_pointer">开始制作</a>
</div>

@Html.Partial("_Footer_Partial")
 