body {
    margin: 0px;
    background-color: #F4F4F4;
    background-image: url('bg.png');
    background-position: left top;
    background-repeat: repeat;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../usercentre_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:90px;
    width:240px;
    height:130px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:246px;
    height:136px;
}

.u1 {
    position:absolute;
    left:2px;
    top:57px;
    width:236px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_container {
    position:absolute;
    left:20px;
    top:100px;
    width:100px;
    height:100px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:100px;
}

.u3 {
    position:absolute;
    left:2px;
    top:42px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../usercentre_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:20px;
    top:174px;
    width:100px;
    height:25px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u5 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u6 {
    position:absolute;
    left:261px;
    top:90px;
    width:711px;
    height:1071px;
    overflow:hidden;
}

#pd4u6 {
    position:absolute;
    left:0px;
    top:0px;
    width:711px;
    height:1071px;
    
}

.u7_normal {
    background-image: url('../usercentre_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:0px;
    top:0px;
    width:710px;
    height:50px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:716px;
    height:56px;
}

.u8 {
    position:absolute;
    left:2px;
    top:17px;
    width:706px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../usercentre_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:0px;
    top:50px;
    width:710px;
    height:780px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:716px;
    height:786px;
}

.u10 {
    position:absolute;
    left:2px;
    top:382px;
    width:706px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:11px;
    top:10px;
    width:150px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:39px;
    top:235px;
    width:80px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:140px;
    top:230px;
    width:320px;
    height:35px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u14 {
    position:absolute;
    left:129px;
    top:240px;
    width:11px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:38px;
    top:80px;
    width:80px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../usercentre_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:143px;
    top:80px;
    width:100px;
    height:100px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:106px;
}

.u17 {
    position:absolute;
    left:2px;
    top:42px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_container {
    position:absolute;
    left:148px;
    top:85px;
    width:90px;
    height:90px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:90px;
}

.u19 {
    position:absolute;
    left:2px;
    top:37px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../usercentre_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:263px;
    top:80px;
    width:120px;
    height:30px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:36px;
}

.u21 {
    position:absolute;
    left:2px;
    top:5px;
    width:116px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:263px;
    top:118px;
    width:320px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:20px;
    top:346px;
    width:80px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:140px;
    top:341px;
    width:320px;
    height:35px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u25 {
    position:absolute;
    left:129px;
    top:351px;
    width:11px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:36px;
    top:406px;
    width:80px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:140px;
    top:401px;
    width:320px;
    height:35px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u28 {
    position:absolute;
    left:129px;
    top:411px;
    width:11px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:20px;
    top:463px;
    width:80px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:140px;
    top:459px;
    width:320px;
    height:35px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u31 {
    position:absolute;
    left:129px;
    top:469px;
    width:11px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../usercentre_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:200px;
    top:583px;
    width:160px;
    height:40px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:46px;
}

.u33 {
    position:absolute;
    left:2px;
    top:8px;
    width:156px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:20px;
    top:289px;
    width:80px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:129px;
    top:294px;
    width:11px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd3u6 {
    position:absolute;
    left:0px;
    top:0px;
    width:711px;
    height:1071px;
    
}

.u40_normal {
    background-image: url('../usercentre_files/u7_normal.png');
}

.u40_container {
    position:absolute;
    left:0px;
    top:0px;
    width:710px;
    height:50px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:716px;
    height:56px;
}

.u41 {
    position:absolute;
    left:2px;
    top:17px;
    width:706px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../usercentre_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:0px;
    top:50px;
    width:710px;
    height:1020px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:716px;
    height:1026px;
}

.u43 {
    position:absolute;
    left:2px;
    top:502px;
    width:706px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:11px;
    top:10px;
    width:150px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:40px;
    top:83px;
    width:80px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:141px;
    top:78px;
    width:460px;
    height:35px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u47 {
    position:absolute;
    left:141px;
    top:117px;
    width:169px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:130px;
    top:88px;
    width:11px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:40px;
    top:162px;
    width:80px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:141px;
    top:159px;
    width:200px;
    height:35px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u51 {
    position:absolute;
    left:130px;
    top:167px;
    width:11px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:40px;
    top:236px;
    width:80px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:141px;
    top:231px;
    width:460px;
    height:102px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u54 {
    position:absolute;
    left:130px;
    top:241px;
    width:11px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:540px;
    top:307px;
    width:61px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u56 {
    position:absolute;
    left:11px;
    top:350px;
    width:700px;
    height:663px;
    overflow:hidden;
}

#pd0u56 {
    position:absolute;
    left:0px;
    top:0px;
    width:700px;
    height:663px;
    
}

.u57_normal {
    background-image: url('../usercentre_files/u57_normal.png');
}

.u57_container {
    position:absolute;
    left:95px;
    top:20px;
    width:124px;
    height:124px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:130px;
    height:130px;
}

.u58 {
    position:absolute;
    left:2px;
    top:54px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_container {
    position:absolute;
    left:97px;
    top:22px;
    width:120px;
    height:120px;
}

#u59_img {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:120px;
}

.u60 {
    position:absolute;
    left:2px;
    top:52px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:230px;
    top:26px;
    width:40px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:302px;
    top:23px;
    width:160px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u63 {
    position:absolute;
    left:472px;
    top:26px;
    width:20px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:234px;
    top:125px;
    width:40px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:16px;
    top:0px;
    width:110px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:16px;
    top:0px;
    width:38px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:16px;
    top:0px;
    width:110px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:286px;
    top:28px;
    width:11px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:292px;
    top:124px;
    width:14px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:229px;
    top:61px;
    width:40px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:301px;
    top:58px;
    width:160px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u75 {
    position:absolute;
    left:471px;
    top:61px;
    width:20px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76 {
    position:absolute;
    left:286px;
    top:63px;
    width:11px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:231px;
    top:95px;
    width:40px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:292px;
    top:94px;
    width:11px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:18px;
    top:20px;
    width:40px;
    height:94px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_line {
    background-image: url('../usercentre_files/u84_line.png');
}

.u84_line {
    position:absolute;
    left:0px;
    top:4px;
    width:689px;
    height:3px;
}

.u84 {
    position:absolute;
    left:9px;
    top:152px;
    width:689px;
    height:10px;
    
}

#u85 {
    position:absolute;
    left:141px;
    top:350px;
    width:550px;
    height:41px;
    overflow:hidden;
}

#pd0u85 {
    position:absolute;
    left:0px;
    top:0px;
    width:550px;
    height:41px;
    
}

.u86_normal {
    background-image: url('../usercentre_files/u20_normal.png');
}

.u86_container {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:30px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:36px;
}

.u87 {
    position:absolute;
    left:2px;
    top:5px;
    width:116px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88 {
    position:absolute;
    left:130px;
    top:13px;
    width:410px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../usercentre_files/u32_normal.png');
}

.u89_container {
    position:absolute;
    left:275px;
    top:1022px;
    width:160px;
    height:40px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:46px;
}

.u90 {
    position:absolute;
    left:2px;
    top:8px;
    width:156px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:400px;
    top:159px;
    width:200px;
    height:35px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u92 {
    position:absolute;
    left:361px;
    top:166px;
    width:29px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:141px;
    top:198px;
    width:459px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd2u6 {
    position:absolute;
    left:0px;
    top:0px;
    width:711px;
    height:1071px;
    
}

.u94_normal {
    background-image: url('../usercentre_files/u7_normal.png');
}

.u94_container {
    position:absolute;
    left:0px;
    top:0px;
    width:710px;
    height:50px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:716px;
    height:56px;
}

.u95 {
    position:absolute;
    left:2px;
    top:17px;
    width:706px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_normal {
    background-image: url('../usercentre_files/u96_normal.png');
}

.u96_container {
    position:absolute;
    left:0px;
    top:50px;
    width:710px;
    height:510px;
}

#u96_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:716px;
    height:516px;
}

.u97 {
    position:absolute;
    left:2px;
    top:247px;
    width:706px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:11px;
    top:10px;
    width:150px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../usercentre_files/u99_normal.png');
}

.u99_container {
    position:absolute;
    left:0px;
    top:60px;
    width:710px;
    height:116px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:716px;
    height:122px;
}

.u100 {
    position:absolute;
    left:2px;
    top:50px;
    width:706px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:11px;
    top:64px;
    width:40px;
    height:94px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102_container {
    position:absolute;
    left:594px;
    top:67px;
    width:100px;
    height:100px;
}

#u102_img {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:100px;
}

.u103 {
    position:absolute;
    left:2px;
    top:42px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104 {
    position:absolute;
    left:84px;
    top:71px;
    width:477px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:85px;
    top:124px;
    width:150px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106 {
    position:absolute;
    left:228px;
    top:124px;
    width:62px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_normal {
    background-image: url('../usercentre_files/u99_normal.png');
}

.u107_container {
    position:absolute;
    left:0px;
    top:196px;
    width:710px;
    height:116px;
}

#u107_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:716px;
    height:122px;
}

.u108 {
    position:absolute;
    left:2px;
    top:50px;
    width:706px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109 {
    position:absolute;
    left:11px;
    top:200px;
    width:40px;
    height:94px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110_container {
    position:absolute;
    left:596px;
    top:202px;
    width:100px;
    height:100px;
}

#u110_img {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:100px;
}

.u111 {
    position:absolute;
    left:2px;
    top:42px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112 {
    position:absolute;
    left:85px;
    top:206px;
    width:477px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113 {
    position:absolute;
    left:86px;
    top:262px;
    width:150px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114 {
    position:absolute;
    left:229px;
    top:262px;
    width:62px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115_line {
    background-image: url('../usercentre_files/u115_line.png');
}

.u115_line {
    position:absolute;
    left:0px;
    top:4px;
    width:689px;
    height:3px;
}

.u115 {
    position:absolute;
    left:11px;
    top:180px;
    width:689px;
    height:10px;
    
}

.u116 {
    position:absolute;
    left:85px;
    top:100px;
    width:465px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117 {
    position:absolute;
    left:86px;
    top:237px;
    width:465px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u6 {
    position:absolute;
    left:0px;
    top:0px;
    width:711px;
    height:1071px;
    
}

.u118_normal {
    background-image: url('../usercentre_files/u7_normal.png');
}

.u118_container {
    position:absolute;
    left:0px;
    top:0px;
    width:710px;
    height:50px;
}

#u118_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:716px;
    height:56px;
}

.u119 {
    position:absolute;
    left:2px;
    top:17px;
    width:706px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120_normal {
    background-image: url('../usercentre_files/u96_normal.png');
}

.u120_container {
    position:absolute;
    left:0px;
    top:50px;
    width:710px;
    height:510px;
}

#u120_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:716px;
    height:516px;
}

.u121 {
    position:absolute;
    left:2px;
    top:247px;
    width:706px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122_normal {
    background-image: url('../usercentre_files/u99_normal.png');
}

.u122_container {
    position:absolute;
    left:0px;
    top:60px;
    width:710px;
    height:116px;
}

#u122_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:716px;
    height:122px;
}

.u123 {
    position:absolute;
    left:2px;
    top:50px;
    width:706px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124_normal {
    background-image: url('../usercentre_files/u20_normal.png');
}

.u124_container {
    position:absolute;
    left:581px;
    top:10px;
    width:120px;
    height:30px;
}

#u124_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:36px;
}

.u125 {
    position:absolute;
    left:2px;
    top:5px;
    width:116px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126 {
    position:absolute;
    left:11px;
    top:64px;
    width:40px;
    height:94px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127_normal {
    background-image: url('../usercentre_files/u99_normal.png');
}

.u127_container {
    position:absolute;
    left:0px;
    top:196px;
    width:710px;
    height:116px;
}

#u127_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:716px;
    height:122px;
}

.u128 {
    position:absolute;
    left:2px;
    top:50px;
    width:706px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129 {
    position:absolute;
    left:11px;
    top:200px;
    width:40px;
    height:94px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130_container {
    position:absolute;
    left:596px;
    top:202px;
    width:100px;
    height:100px;
}

#u130_img {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:100px;
}

.u131 {
    position:absolute;
    left:2px;
    top:42px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132 {
    position:absolute;
    left:85px;
    top:206px;
    width:477px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133 {
    position:absolute;
    left:86px;
    top:276px;
    width:150px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134 {
    position:absolute;
    left:86px;
    top:235px;
    width:465px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135 {
    position:absolute;
    left:229px;
    top:276px;
    width:62px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136_container {
    position:absolute;
    left:594px;
    top:67px;
    width:100px;
    height:100px;
}

#u136_img {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:100px;
}

.u137 {
    position:absolute;
    left:2px;
    top:42px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138 {
    position:absolute;
    left:84px;
    top:71px;
    width:477px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139 {
    position:absolute;
    left:85px;
    top:141px;
    width:150px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140 {
    position:absolute;
    left:85px;
    top:100px;
    width:465px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141 {
    position:absolute;
    left:228px;
    top:141px;
    width:62px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142 {
    position:absolute;
    left:11px;
    top:10px;
    width:150px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143_line {
    background-image: url('../usercentre_files/u143_line.png');
}

.u143_line {
    position:absolute;
    left:0px;
    top:4px;
    width:689px;
    height:3px;
}

.u143 {
    position:absolute;
    left:11px;
    top:180px;
    width:689px;
    height:10px;
    
}

.u144 {
    position:absolute;
    left:424px;
    top:141px;
    width:58px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145 {
    position:absolute;
    left:479px;
    top:139px;
    width:30px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146 {
    position:absolute;
    left:492px;
    top:141px;
    width:69px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147 {
    position:absolute;
    left:424px;
    top:281px;
    width:58px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148 {
    position:absolute;
    left:479px;
    top:279px;
    width:30px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149 {
    position:absolute;
    left:492px;
    top:281px;
    width:69px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u6 {
    position:absolute;
    left:0px;
    top:0px;
    width:711px;
    height:1071px;
    
}

.u150_normal {
    background-image: url('../usercentre_files/u150_normal.png');
}

.u150_container {
    position:absolute;
    left:0px;
    top:0px;
    width:380px;
    height:250px;
}

#u150_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:386px;
    height:256px;
}

.u151 {
    position:absolute;
    left:2px;
    top:116px;
    width:376px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152_normal {
    background-image: url('../usercentre_files/u152_normal.png');
}

.u152_container {
    position:absolute;
    left:386px;
    top:0px;
    width:158px;
    height:128px;
}

#u152_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:164px;
    height:134px;
}

.u153 {
    position:absolute;
    left:2px;
    top:54px;
    width:154px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154_normal {
    background-image: url('../usercentre_files/u152_normal.png');
}

.u154_container {
    position:absolute;
    left:550px;
    top:0px;
    width:158px;
    height:128px;
}

#u154_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:164px;
    height:134px;
}

.u155 {
    position:absolute;
    left:2px;
    top:54px;
    width:154px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156_normal {
    background-image: url('../usercentre_files/u156_normal.png');
}

.u156_container {
    position:absolute;
    left:386px;
    top:136px;
    width:323px;
    height:114px;
}

#u156_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:329px;
    height:120px;
}

.u157 {
    position:absolute;
    left:2px;
    top:48px;
    width:319px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u158_normal {
    background-image: url('../usercentre_files/u158_normal.png');
}

.u158_container {
    position:absolute;
    left:0px;
    top:268px;
    width:709px;
    height:422px;
}

#u158_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:715px;
    height:428px;
}

.u159 {
    position:absolute;
    left:2px;
    top:203px;
    width:705px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u160 {
    position:absolute;
    left:7px;
    top:275px;
    width:110px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u161_normal {
    background-image: url('../usercentre_files/u161_normal.png');
}

.u161_container {
    position:absolute;
    left:22px;
    top:310px;
    width:140px;
    height:170px;
}

#u161_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:176px;
}

.u162 {
    position:absolute;
    left:2px;
    top:77px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u163_container {
    position:absolute;
    left:32px;
    top:321px;
    width:120px;
    height:120px;
}

#u163_img {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:120px;
}

.u164 {
    position:absolute;
    left:2px;
    top:52px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u165_normal {
    background-image: url('../usercentre_files/u165_normal.png');
}

.u165_container {
    position:absolute;
    left:102px;
    top:418px;
    width:50px;
    height:18px;
}

#u165_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:24px;
}

.u166 {
    position:absolute;
    left:2px;
    top:0px;
    width:46px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u167 {
    position:absolute;
    left:31px;
    top:454px;
    width:121px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u168_normal {
    background-image: url('../usercentre_files/u161_normal.png');
}

.u168_container {
    position:absolute;
    left:198px;
    top:310px;
    width:140px;
    height:170px;
}

#u168_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:176px;
}

.u169 {
    position:absolute;
    left:2px;
    top:77px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170_container {
    position:absolute;
    left:208px;
    top:321px;
    width:120px;
    height:120px;
}

#u170_img {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:120px;
}

.u171 {
    position:absolute;
    left:2px;
    top:52px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u172_normal {
    background-image: url('../usercentre_files/u165_normal.png');
}

.u172_container {
    position:absolute;
    left:278px;
    top:418px;
    width:50px;
    height:18px;
}

#u172_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:24px;
}

.u173 {
    position:absolute;
    left:2px;
    top:0px;
    width:46px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u174 {
    position:absolute;
    left:207px;
    top:454px;
    width:121px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175_normal {
    background-image: url('../usercentre_files/u161_normal.png');
}

.u175_container {
    position:absolute;
    left:374px;
    top:310px;
    width:140px;
    height:170px;
}

#u175_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:176px;
}

.u176 {
    position:absolute;
    left:2px;
    top:77px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u177_container {
    position:absolute;
    left:384px;
    top:321px;
    width:120px;
    height:120px;
}

#u177_img {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:120px;
}

.u178 {
    position:absolute;
    left:2px;
    top:52px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u179_normal {
    background-image: url('../usercentre_files/u165_normal.png');
}

.u179_container {
    position:absolute;
    left:454px;
    top:418px;
    width:50px;
    height:18px;
}

#u179_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:24px;
}

.u180 {
    position:absolute;
    left:2px;
    top:0px;
    width:46px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u181 {
    position:absolute;
    left:383px;
    top:454px;
    width:121px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u182_normal {
    background-image: url('../usercentre_files/u161_normal.png');
}

.u182_container {
    position:absolute;
    left:550px;
    top:310px;
    width:140px;
    height:170px;
}

#u182_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:176px;
}

.u183 {
    position:absolute;
    left:2px;
    top:77px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u184_container {
    position:absolute;
    left:560px;
    top:321px;
    width:120px;
    height:120px;
}

#u184_img {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:120px;
}

.u185 {
    position:absolute;
    left:2px;
    top:52px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u186_normal {
    background-image: url('../usercentre_files/u165_normal.png');
}

.u186_container {
    position:absolute;
    left:630px;
    top:418px;
    width:50px;
    height:18px;
}

#u186_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:24px;
}

.u187 {
    position:absolute;
    left:2px;
    top:0px;
    width:46px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u188 {
    position:absolute;
    left:559px;
    top:454px;
    width:121px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u189_normal {
    background-image: url('../usercentre_files/u161_normal.png');
}

.u189_container {
    position:absolute;
    left:20px;
    top:500px;
    width:140px;
    height:170px;
}

#u189_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:176px;
}

.u190 {
    position:absolute;
    left:2px;
    top:77px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u191_container {
    position:absolute;
    left:30px;
    top:511px;
    width:120px;
    height:120px;
}

#u191_img {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:120px;
}

.u192 {
    position:absolute;
    left:2px;
    top:52px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u193_normal {
    background-image: url('../usercentre_files/u165_normal.png');
}

.u193_container {
    position:absolute;
    left:100px;
    top:608px;
    width:50px;
    height:18px;
}

#u193_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:24px;
}

.u194 {
    position:absolute;
    left:2px;
    top:0px;
    width:46px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u195 {
    position:absolute;
    left:30px;
    top:644px;
    width:121px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u196_normal {
    background-image: url('../usercentre_files/u161_normal.png');
}

.u196_container {
    position:absolute;
    left:196px;
    top:500px;
    width:140px;
    height:170px;
}

#u196_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:176px;
}

.u197 {
    position:absolute;
    left:2px;
    top:77px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u198_container {
    position:absolute;
    left:206px;
    top:511px;
    width:120px;
    height:120px;
}

#u198_img {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:120px;
}

.u199 {
    position:absolute;
    left:2px;
    top:52px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u200_normal {
    background-image: url('../usercentre_files/u165_normal.png');
}

.u200_container {
    position:absolute;
    left:276px;
    top:608px;
    width:50px;
    height:18px;
}

#u200_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:24px;
}

.u201 {
    position:absolute;
    left:2px;
    top:0px;
    width:46px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u202 {
    position:absolute;
    left:206px;
    top:644px;
    width:121px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u203_normal {
    background-image: url('../usercentre_files/u161_normal.png');
}

.u203_container {
    position:absolute;
    left:372px;
    top:500px;
    width:140px;
    height:170px;
}

#u203_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:176px;
}

.u204 {
    position:absolute;
    left:2px;
    top:77px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u205_container {
    position:absolute;
    left:382px;
    top:511px;
    width:120px;
    height:120px;
}

#u205_img {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:120px;
}

.u206 {
    position:absolute;
    left:2px;
    top:52px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u207_normal {
    background-image: url('../usercentre_files/u165_normal.png');
}

.u207_container {
    position:absolute;
    left:452px;
    top:608px;
    width:50px;
    height:18px;
}

#u207_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:24px;
}

.u208 {
    position:absolute;
    left:2px;
    top:0px;
    width:46px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u209 {
    position:absolute;
    left:382px;
    top:644px;
    width:121px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u210_normal {
    background-image: url('../usercentre_files/u161_normal.png');
}

.u210_container {
    position:absolute;
    left:548px;
    top:500px;
    width:140px;
    height:170px;
}

#u210_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:176px;
}

.u211 {
    position:absolute;
    left:2px;
    top:77px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u212_container {
    position:absolute;
    left:558px;
    top:511px;
    width:120px;
    height:120px;
}

#u212_img {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:120px;
}

.u213 {
    position:absolute;
    left:2px;
    top:52px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u214_normal {
    background-image: url('../usercentre_files/u165_normal.png');
}

.u214_container {
    position:absolute;
    left:628px;
    top:608px;
    width:50px;
    height:18px;
}

#u214_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:24px;
}

.u215 {
    position:absolute;
    left:2px;
    top:0px;
    width:46px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u216 {
    position:absolute;
    left:558px;
    top:644px;
    width:121px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u217_normal {
    background-image: url('../usercentre_files/u217_normal.png');
}

.u217_container {
    position:absolute;
    left:11px;
    top:291px;
    width:240px;
    height:97px;
}

#u217_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:246px;
    height:103px;
}

.u218 {
    position:absolute;
    left:2px;
    top:40px;
    width:236px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u219_mouseOver {
    background-image: url('../usercentre_files/u219_mouseOver.png');
}

.u219_mouseDown {
    background-image: url('../usercentre_files/u219_mouseOver.png');
}

.u219_normal {
    background-image: url('../usercentre_files/u219_normal.png');
}

.u219_container {
    position:absolute;
    left:11px;
    top:291px;
    width:240px;
    height:47px;
}

#u219_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:246px;
    height:53px;
}

.u220 {
    position:absolute;
    left:2px;
    top:13px;
    width:236px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u221_normal {
    background-image: url('../usercentre_files/u221_normal.png');
}

.u221_container {
    position:absolute;
    left:21px;
    top:306px;
    width:20px;
    height:20px;
}

#u221_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u222 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u223_mouseOver {
    background-image: url('../usercentre_files/u219_mouseOver.png');
}

.u223_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u223_container {
    position:absolute;
    left:11px;
    top:340px;
    width:240px;
    height:47px;
}

#u223_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:246px;
    height:53px;
}

.u224 {
    position:absolute;
    left:2px;
    top:13px;
    width:236px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u225_normal {
    background-image: url('../usercentre_files/u221_normal.png');
}

.u225_container {
    position:absolute;
    left:21px;
    top:354px;
    width:20px;
    height:20px;
}

#u225_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u226 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u227 {
    position:absolute;
    left:130px;
    top:100px;
    width:70px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u228 {
    position:absolute;
    left:130px;
    top:122px;
    width:110px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u229_normal {
    background-image: url('../usercentre_files/u229_normal.png');
}

.u229_container {
    position:absolute;
    left:11px;
    top:420px;
    width:240px;
    height:209px;
}

#u229_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:246px;
    height:215px;
}

.u230 {
    position:absolute;
    left:2px;
    top:96px;
    width:236px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u231_normal {
    background-image: url('../usercentre_files/u231_normal.png');
}

.u231_container {
    position:absolute;
    left:13px;
    top:429px;
    width:96px;
    height:96px;
}

#u231_img {
    position:absolute;
    left:0px;
    top:0px;
    width:96px;
    height:96px;
}

.u232 {
    position:absolute;
    left:2px;
    top:40px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u233 {
    position:absolute;
    left:128px;
    top:442px;
    width:113px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u234 {
    position:absolute;
    left:130px;
    top:470px;
    width:130px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u235 {
    position:absolute;
    left:21px;
    top:525px;
    width:219px;
    height:60px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u236 {
    position:absolute;
    left:82px;
    top:594px;
    width:89px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u237_line {
    background-image: url('../usercentre_files/u237_line.png');
}

.u237_line {
    position:absolute;
    left:0px;
    top:4px;
    width:239px;
    height:3px;
}

.u237 {
    position:absolute;
    left:11px;
    top:336px;
    width:239px;
    height:10px;
    
}

.u238_normal {
    background-image: url('../usercentre_files/u238_normal.png');
}

.u238_container {
    position:absolute;
    left:10px;
    top:0px;
    width:960px;
    height:60px;
}

#u238_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:66px;
}

.u239 {
    position:absolute;
    left:2px;
    top:22px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u240_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u240_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u240_container {
    position:absolute;
    left:260px;
    top:20px;
    width:90px;
    height:25px;
}

#u240_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:31px;
}

.u241 {
    position:absolute;
    left:2px;
    top:0px;
    width:86px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u242 {
    position:absolute;
    left:40px;
    top:20px;
    width:80px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u243_normal {
    background-image: url('../usercentre_files/u243_normal.png');
}

.u243_container {
    position:absolute;
    left:933px;
    top:21px;
    width:25px;
    height:25px;
}

#u243_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u244 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u245_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u245_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u245_container {
    position:absolute;
    left:348px;
    top:20px;
    width:90px;
    height:25px;
}

#u245_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:31px;
}

.u246 {
    position:absolute;
    left:2px;
    top:0px;
    width:86px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u247_normal {
    background-image: url('../usercentre_files/u247_normal.png');
}

.u247_container {
    position:absolute;
    left:385px;
    top:45px;
    width:18px;
    height:15px;
}

#u247_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:21px;
}

.u248 {
    position:absolute;
    left:2px;
    top:0px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u249 {
    position:absolute;
    left:348px;
    top:220px;
    width:511px;
    height:318px;
    overflow:hidden;
}

#pd0u249 {
    position:absolute;
    left:0px;
    top:0px;
    width:511px;
    height:318px;
    
}

.u250_normal {
    background-image: url('../usercentre_files/u250_normal.png');
}

.u250_container {
    position:absolute;
    left:10px;
    top:20px;
    width:470px;
    height:230px;
}

#u250_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:476px;
    height:236px;
}

.u251 {
    position:absolute;
    left:2px;
    top:107px;
    width:466px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u252_normal {
    background-image: url('../usercentre_files/u252_normal.png');
}

.u252_container {
    position:absolute;
    left:465px;
    top:10px;
    width:24px;
    height:24px;
}

#u252_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u253 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u254 {
    position:absolute;
    left:53px;
    top:41px;
    width:377px;
    height:81px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u255 {
    position:absolute;
    left:74px;
    top:158px;
    width:150px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u256 {
    position:absolute;
    left:191px;
    top:152px;
    width:147px;
    height:33px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u257 {
    position:absolute;
    left:348px;
    top:158px;
    width:150px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u258 {
    position:absolute;
    left:191px;
    top:195px;
    width:186px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u259_mouseOver {
    background-image: url('../usercentre_files/u219_mouseOver.png');
}

.u259_mouseDown {
    background-image: url('../usercentre_files/u219_mouseOver.png');
}

.u259_normal {
    background-image: url('../usercentre_files/u219_normal.png');
}

.u259_container {
    position:absolute;
    left:11px;
    top:244px;
    width:240px;
    height:47px;
}

#u259_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:246px;
    height:53px;
}

.u260 {
    position:absolute;
    left:2px;
    top:13px;
    width:236px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u261_line {
    background-image: url('../usercentre_files/u261_line.png');
}

.u261_line {
    position:absolute;
    left:0px;
    top:4px;
    width:239px;
    height:3px;
}

.u261 {
    position:absolute;
    left:11px;
    top:281px;
    width:239px;
    height:10px;
    
}

.u262_normal {
    background-image: url('../usercentre_files/u221_normal.png');
}

.u262_container {
    position:absolute;
    left:21px;
    top:258px;
    width:20px;
    height:20px;
}

#u262_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u263 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

