body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../user_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:0px;
    width:960px;
    height:60px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:66px;
}

.u1 {
    position:absolute;
    left:2px;
    top:22px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u2_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u2_container {
    position:absolute;
    left:287px;
    top:22px;
    width:90px;
    height:25px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:31px;
}

.u3 {
    position:absolute;
    left:2px;
    top:0px;
    width:86px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u4_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u4_container {
    position:absolute;
    left:387px;
    top:22px;
    width:101px;
    height:25px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:107px;
    height:31px;
}

.u5 {
    position:absolute;
    left:2px;
    top:0px;
    width:97px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u6_mouseDown {
    background-image: url('../resources/images/transparent.gif');
}

.u6_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u6_container {
    position:absolute;
    left:598px;
    top:22px;
    width:90px;
    height:25px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:31px;
}

.u7 {
    position:absolute;
    left:2px;
    top:0px;
    width:86px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:30px;
    top:17px;
    width:150px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../user_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:667px;
    top:10px;
    width:23px;
    height:15px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:23px;
    height:15px;
}

.u10 {
    position:absolute;
    left:2px;
    top:0px;
    width:19px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:865px;
    top:6px;
    width:90px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u12_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u12_container {
    position:absolute;
    left:498px;
    top:22px;
    width:101px;
    height:25px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:107px;
    height:31px;
}

.u13 {
    position:absolute;
    left:2px;
    top:0px;
    width:97px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../发布宝贝_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:10px;
    top:78px;
    width:960px;
    height:802px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:808px;
}

.u16 {
    position:absolute;
    left:2px;
    top:393px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../发布宝贝_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:11px;
    top:136px;
    width:161px;
    height:734px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:167px;
    height:740px;
}

.u18 {
    position:absolute;
    left:2px;
    top:359px;
    width:157px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:28px;
    top:90px;
    width:150px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:194px;
    top:170px;
    width:396px;
    height:35px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u21 {
    position:absolute;
    left:610px;
    top:179px;
    width:169px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:192px;
    top:468px;
    width:200px;
    height:35px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u23 {
    position:absolute;
    left:195px;
    top:551px;
    width:460px;
    height:102px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u24 {
    position:absolute;
    left:593px;
    top:627px;
    width:61px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../发布宝贝_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:330px;
    top:800px;
    width:160px;
    height:40px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:46px;
}

.u26 {
    position:absolute;
    left:2px;
    top:8px;
    width:156px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:452px;
    top:468px;
    width:200px;
    height:35px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u28 {
    position:absolute;
    left:412px;
    top:475px;
    width:29px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:662px;
    top:479px;
    width:298px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_line {
    background-image: url('../发布宝贝_files/u30_line.png');
}

.u30_line {
    position:absolute;
    left:0px;
    top:4px;
    width:960px;
    height:3px;
}

.u30 {
    position:absolute;
    left:10px;
    top:131px;
    width:960px;
    height:10px;
    
}

.u31 {
    position:absolute;
    left:70px;
    top:175px;
    width:80px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:152px;
    top:177px;
    width:11px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:70px;
    top:471px;
    width:80px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:156px;
    top:476px;
    width:11px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:67px;
    top:556px;
    width:80px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:148px;
    top:560px;
    width:11px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:70px;
    top:259px;
    width:80px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:152px;
    top:261px;
    width:11px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:70px;
    top:324px;
    width:80px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:152px;
    top:326px;
    width:11px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:16px;
    top:0px;
    width:128px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:16px;
    top:0px;
    width:52px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:16px;
    top:0px;
    width:52px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:16px;
    top:0px;
    width:52px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_line {
    background-image: url('../发布宝贝_files/u53_line.png');
}

.u53_line {
    position:absolute;
    left:0px;
    top:4px;
    width:960px;
    height:3px;
}

.u53 {
    position:absolute;
    left:10px;
    top:230px;
    width:960px;
    height:10px;
    
}

.u54_line {
    background-image: url('../发布宝贝_files/u54_line.png');
}

.u54_line {
    position:absolute;
    left:0px;
    top:4px;
    width:960px;
    height:3px;
}

.u54 {
    position:absolute;
    left:10px;
    top:301px;
    width:960px;
    height:10px;
    
}

.u55_line {
    background-image: url('../发布宝贝_files/u55_line.png');
}

.u55_line {
    position:absolute;
    left:0px;
    top:4px;
    width:960px;
    height:3px;
}

.u55 {
    position:absolute;
    left:10px;
    top:365px;
    width:960px;
    height:10px;
    
}

.u56 {
    position:absolute;
    left:194px;
    top:389px;
    width:396px;
    height:35px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u57 {
    position:absolute;
    left:604px;
    top:398px;
    width:30px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:70px;
    top:394px;
    width:80px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_line {
    background-image: url('../发布宝贝_files/u59_line.png');
}

.u59_line {
    position:absolute;
    left:0px;
    top:4px;
    width:960px;
    height:3px;
}

.u59 {
    position:absolute;
    left:10px;
    top:440px;
    width:960px;
    height:10px;
    
}

.u60_line {
    background-image: url('../发布宝贝_files/u60_line.png');
}

.u60_line {
    position:absolute;
    left:0px;
    top:4px;
    width:960px;
    height:3px;
}

.u60 {
    position:absolute;
    left:11px;
    top:525px;
    width:960px;
    height:10px;
    
}

.u61_normal {
    background-image: url('../发布宝贝_files/u61_normal.png');
}

.u61_container {
    position:absolute;
    left:172px;
    top:690px;
    width:120px;
    height:30px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:36px;
}

.u62 {
    position:absolute;
    left:2px;
    top:5px;
    width:116px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:302px;
    top:703px;
    width:410px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:16px;
    top:0px;
    width:340px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../发布宝贝_files/u66_normal.png');
}

.u66_container {
    position:absolute;
    left:870px;
    top:94px;
    width:83px;
    height:25px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:89px;
    height:31px;
}

.u67 {
    position:absolute;
    left:2px;
    top:4px;
    width:79px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

