<?xml version="1.0" encoding="UTF-8"?> 
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <sectionGroup name="SinaSectionGroup">
      <section name="SinaSection" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
    <sectionGroup name="QQSectionGroup">
      <section name="QzoneSection" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
    <!--<sectionGroup name="QQSectionGroup">
      <section name="QQSection" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>-->
    <sectionGroup name="NetEaseSectionGroup">
      <section name="NetEaseSection" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
    <sectionGroup name="SohuSectionGroup">
      <section name="SohuSection" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
  </configSections>
  <SinaSectionGroup>
    <SinaSection>
      <add key="AppKey" value="1489739071" />
      <add key="AppSecret" value="89a7a9af9a61b191f8573883679e78a7" />
      <add key="CallBackURI" value="http://www.360baijiayi.com/account/social_callback/1" />
    </SinaSection>
  </SinaSectionGroup>
  <QQSectionGroup>
    <QzoneSection>
      <add key="AppKey" value="100289756" />
      <add key="AppSecret" value="cd23d5ab874aef847c2795e7310bf779" />
      <add key="CallBackURI" value="http://www.360baijiayi.com/account/social_callback/2" />
      <add key="AuthorizeURL" value="https://graph.qq.com/oauth2.0/authorize" />
    </QzoneSection>
  </QQSectionGroup>
  <!--<QQSectionGroup>
    <QQSection>
      <add key="AppKey" value="100286964"/>
      <add key="AppSecret" value="479e584158f91b7a79d0d4c39a823bf3"/>
      <add key="CallBackURI" value="http://babyplan.gotoip4.com/a/check_social_user?type=2"/>
    </QQSection>
  </QQSectionGroup>-->
  <NetEaseSectionGroup>
    <NetEaseSection>
      <add key="AppKey" value="UsVknY6aEkD4U84Y" />
      <add key="AppSecret" value="rfKgXrU0SAlD3CGvI860T2Eq4T1Zoui2" />
      <add key="CallBackURI" value="http://www.iytong.com/test1/a/check_user?type=4" />
      <add key="RequestType" value="GET" />
      <add key="OAuthType" value="QueryString" />
    </NetEaseSection>
  </NetEaseSectionGroup>
  <SohuSectionGroup>
    <SohuSection>
      <add key="AppKey" value="pH9Ox2HW98WHNP3yXnTr" />
      <add key="AppSecret" value="k4ykAPjouT6(Paz6!p1P91MJr-^)YSEK4MG*bbCL" />
      <add key="CallBackURI" value="http://www.iytong.com/test1/a/check_user?type=8" />
      <add key="RequestType" value="GET" />
      <add key="OAuthType" value="QueryString" />
    </SohuSection>
  </SohuSectionGroup>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4net">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
  <log4net>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %l - %m%n" />
      </layout>
    </appender>
    <appender name="rollingFile" type="log4net.Appender.RollingFileAppender, log4net">
      <param name="File" value="../log.txt" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Size" />
      <param name="MaximumFileSize" value="5mb" />
      <param name="MaxSizeRollBackups" value="10" />
      <param name="StaticLogFileName" value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %m%n" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="rollingFile" />
    </root>
  </log4net>
  <appSettings>
    <add key="cssVersion" value="0.1" />
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--绑定第三方账号成功后发布微博内容-->
    <add key="RegisteredTwitter" value="现在连奶粉都造假，更何况是衣服呢？新衣服多多少少都含有甲醛，
      把百家衣( http://www.360baijiayi.com )告诉身边的妈妈们,让我们一起关注孩子的健康!" />
    <!--系统账户,用于发布官微-->
    <add key="SysAccount" value="admin"/>
  </appSettings>
    
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login"></forms>
    </authentication>
    
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>

  <system.web>
    <customErrors mode="Off">
    </customErrors>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="false" />
        <defaultDocument>
            <files>
                <remove value="Default.htm" />
                <add value="index.cshtml" />
            </files>
        </defaultDocument>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>
